@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.background-color{
    position:fixed;
    background-color: rgb(85, 85, 239);
    height:100vh;
    width: 100%;
}
.color1{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 40%;
    background-color: rgb(147, 147, 255);
    border-bottom-left-radius: 90%;
}



.header{
    position:fixed;
    top: 0%;
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 254, 254);
    width:100%;
    height: 70px;
    max-height: 80px;
    z-index: 1000;
}
.header h1{
    display:start;
    font-family: "Lilita One", serif;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-transform: uppercase;
}
.menu{
    display: flex;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.858);
}
.menu svg{
    width: 40px;
    height: 60px;
}


.sidebar{
    position:fixed;
    top:60px;
    right: 10px;
    width: 60%;
    padding: 10px;
    background-color:white;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px ;
    animation: slidein 0.6s ease-in-out;
    z-index: 1000;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.sidebar-container button{
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    font-family: "Josefin Sans", serif;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1rem;
    font-size: 900;
    background-color: rgb(123, 123, 252);
    transition: all 0.2s ease-in-out;
}
.sidebar-container button:active{
    background-color: rgb(31, 31, 243);
    transition: 200ms;
}

@keyframes slidein{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.4;
    }
    45%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.7;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}


.Tournaments-section {
    position: relative;
    margin: 0% auto;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.tournament-card {
    border: 3px solid white;
    border-radius: 5px;
    margin: 15px auto;
    width:100%;
}
.tournament-image {
    width: 100%;
    height: 30%;
    max-height: 150px;
    object-fit:cover;
    border-radius: 5px;
}
.tournament-card h3{
    color: white;
    font-size: 400;
    letter-spacing: 4px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    font-family: "Abril Fatface", serif;
}
.tournament-card p{
    padding: 7px;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
    font-family: "Josefin Sans", serif;
}



  .dropdown-header {
    width: 70%;
    margin-left: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border-radius: 10px;
    border-left: 5px solid rgb(19, 222, 19);
  }
  .dropdown-content {
    display: none;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #fff;
    border-left: 5px solid rgb(13, 216, 13);
    width: 90%;
    animation: dropdown 0.6s ease-in-out;
  }
  .dropdown-content p{
    color: black;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 700;
  }
  @keyframes dropdown{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
}
  }

.tournament-card strong{
    font-weight: 900;
    letter-spacing: 2px;
}
.join-button {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    width: 70%;
    border-radius: 5px;
    box-shadow: 1px 5px 1px white;
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.join-button:active{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 0px white;
    transition: 200ms;
}
.join-button.closed {
    background-color: #dc3545;
    font-size: 1.1rem;
}







.popup-content{
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.popup-content h2{
      color: black;
      font-size: 900;
      font-family: "Anton", serif;
      letter-spacing: 2px;
      font-size: 1.2rem;
      padding-bottom: 10px;
} 
.popup-content label{
    font-family: "Exo 2", serif;
    letter-spacing: 2px;
    font-weight: 700;
}
.popup-content input{
    margin: 5px;
    padding: 10px;
    outline-color: rgb(20, 20, 255);
    box-shadow: 1px 5px 1px black;
    width: 100%;
    font-weight: 900;
    letter-spacing: 2px;
}
.popup-content button{
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    font-family: "Exo 2", serif;
    background-color: rgb(23, 23, 251);
    box-shadow: 1px 5px 0px black;
    transition: all 0.3s ease-in-out;
}
.popup-content button:active{
    background-color: rgb(98, 98, 239);
    transform: translateY(5px);
    box-shadow: 0px 0px 0px black;
    transition: 200ms;
}
.payment-options button{
  padding:5px;
  background-color:white;
  border: 1px solid blue;
  box-shadow: 1px 1px 10px white;
}
.payment-options button img{
   object-fit:contain;
}



.container {
    position: relative;
    max-width: 800px;
  }
  .container h2{
    font-size: 1.4rem;
    color: black;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 30px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
  }
  .result {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #e3e6ea;
  }
  .result-header {
    cursor: pointer;
    padding: 0.75rem 1rem;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background 0.3s;
    margin-bottom: 0.5rem;
  }
  .result-header:hover {
    background: #0056b3;
  }
  .winners-content {
    overflow: hidden;
    border: solid 1px #ddd;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    border-radius: 8px;
    background: #fff;
    padding: 0;
  }

  .winners-content.open {
    max-height: 500px; /* Adjust for content */
    transition: max-height 0.5s ease-in;
    padding: 1rem;
  }

  .winners-content table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #ddd;
    margin-top: 1rem;
  }

  .winners-content th, .winners-content td {
    border: solid 1px #ddd;
    padding: 8px;
    text-align: center;
  }

  .winners-content th {
    background: #007bff;
    color: #fff;
  }

  /* Responsive Scroll on Small Screens */
  @media (max-width: 600px) {
    .winners-content {
      overflow-x: auto;
      display: block;
    }
    
    .winners-content table {
      display: block;
      width: 100%;
      white-space: nowrap;
    }
  }






.Rooms-section{
    position: relative;
    height: 100vh;
    width: 100%;
}
.Rooms-section h2{
    font-size: 900;
    letter-spacing: 3px;
    font-size: 1.6rem;
    padding: 20px;
    text-transform: uppercase;
}
.note{
    color:black;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-left: 5px solid green;
    border-radius: 10px;
}
#roomsList{
    margin: 20px;
}
#roomsList p{
    font-size: 1.3rem;
    letter-spacing: 3px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}
#roomsList div div p{
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 15px;
    font-weight: 900;
}
#roomsList input{
    padding: 10px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-left: 10px;
    border-radius: 10px;
    outline: blue;
    box-shadow: 1px 5px 0px black;
}
#roomsList button{
    padding: 10px;
    font-weight: 900;
    border-radius: 10px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    box-shadow: 1px 5px 0px black;
}


/* Container for the entire ticker */
.news-ticker {
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
  }
  /* Fixed label on the left */
  .ticker-label {
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    color: black;
    flex: 0 0 auto;
    background-color: white;
    color: white;
    font-weight: bold;
    border-left: 5px solid red;
    border-right: 1px solid #ccc;
  }
  .ticker-label h1{
    color: black;
    font-size: 1rem;
    letter-spacing: 2px;
    color: blue;
    text-shadow: 1px 1px 1px black;
  }
  /* Container for the scrolling text */
  .ticker-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 30px;
    background-color: white;
    border-radius: 10px;
  }
  /* Scrolling news text */
  .news {
    background-color: white;
    position: absolute;
    white-space: nowrap;
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 30px;
    /* Animation for scrolling from right to left */
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
  }
  /* Keyframes with vendor prefixes */
  @-webkit-keyframes scroll-left {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



  .desktop{
    display: none;
  }
@media(min-width:600px){
    .lomigames{
       display: none;
    }
    .desktop{
      position: relative;
      top: 0;
      left: 0;
      display: block;
      color: black;
      font-size: 4rem;
    }
}
